* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Avenir Next','Yu Gothic', sans-serif;
    background-color: #000;
    color: #fff;
    height: 100vh;
}

header {
    background-color: #111;
    padding: 15px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}

nav ul li {
    margin: 0 25px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.3s ease, color 0.3s ease;
    padding: 10px;
}

nav ul li a:hover {
    background-color: #fff;
    color: #000;
}

main {
    padding: 0px;
    display: flex;
    height: calc(100vh - 60px); /* Adjusts for header height */
}

/* Logo in the header */
.logo {
    height: auto; /* Maintain the aspect ratio */
    max-height: 23px; /* Adjust the maximum height to fit within the header */
    width: auto; /* Maintain the aspect ratio */
    vertical-align: top;
    transition: opacity 0.3s ease;
}

.logo-hover {
    display: none;
    height: auto; /* Maintain the aspect ratio */
    max-height: 23px; /* Adjust the maximum height to fit within the header */
    width: auto; /* Maintain the aspect ratio */
    vertical-align: top;
}

nav ul li:hover .logo {
    display: none;
}

nav ul li:hover .logo-hover {
    display: inline;
}

nav ul li a:hover .logo {
    content: url('images/logo_B.png');
}

/* X Icon Styles */
.x-icon {
    position: absolute;
    right: 20px; /* Position it at the right end */
    top: 3.5%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.x-icon img {
    width: 25px; /* Adjust size as needed */
    height: auto;
    transition: transform 0.3s ease;
}

.x-icon img:hover {
    transform: scale(1.1);
}


/* Home specific styles */
.split {
    width: 50%;
    position: relative;
    overflow: hidden;
}

.split.left {
    background-image: url('/images/your_photo_image.jpg');
    background-size: cover;
    background-position: center;
}

.split.right {
    background-image: url('/images/your-movie-image.jpg');
    background-size: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: transparent; /* 文字を透明に */
    transition: color 0.5s ease; /* 文字の色のフェードイン */
    z-index: 1; /* テキストを前面に */
}

.overlay::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8); /* 白の透明背景 */
    transform: translateY(-100%); /* 初期状態では上に隠す */
    transition: transform 0.5s ease; /* スライドインのアニメーション */
    z-index: -1; /* 背景をテキストの後ろに */
}

.overlay:hover::before {
    transform: translateY(0); /* ホバー時に背景を下から表示 */
}

.overlay:hover {
    color: #000; /* 文字が黒くなる */
}

.text {
    font-size: 36px;
    font-weight: 200;
}

/* Photo Works specific styles */
/* Container for the gallery and event list */
.photo-works-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

/* Gallery styles (left side) */
.gallery {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
}

.gallery img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.05);
}

/* Event list styles (right side) */
.event-list {
    font-family: YuGothic,'Yu Gothic',sans-serif;
    width: 40%;
    padding-left: 20px;
    font-weight: 200;
}

.event-list h2 {
    font-family: 'Avenir Next',sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 200;
}

.event-list ul {
    list-style-type: none;
    padding: 0;
}

.event-list li {
    margin-bottom: 10px;
    font-weight: 200;
}

.event-list li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
    font-weight: 200;
}

.event-list li a:hover {
    color: #bbb;
}


footer {
    background-color: #111;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

.equipment-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.equipment {
    text-align: center;
}

.equipment h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.equipment p {
    font-size: 18px;
}

/* モーダルウィンドウのスタイル */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1000; 
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.9); 
}

.modal-content {
    margin: 15% auto; 
    display: block; 
    width: 80%; 
    max-width: 700px; 
    border-radius: 8px;
}

.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* Contactのスタイル */
a {
    color: inherit;
    text-decoration: none;
}

.contact-section {
    text-align: center;
    margin: 50px auto;
}

.contact-info p {
    margin: 10px 0;
    font-size: 1.2em;
}

.profile-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* セクションを水平中央揃え */
    align-items: flex-start; /* セクション内で垂直方向を中央揃え */
    padding: 10px 20px;
    height: 100%;
}

.profile-section h1 {
    font-size: 36px;
    font-weight: 300;
    text-align: center;
    margin-right: 40px; /* "profile-list" との間隔を確保 */
    margin-left: 40px;
}

.profile-list-about {
    list-style: none;
    padding: 0;
    font-size: 36px;
    line-height: 1.8;
    font-weight: 200;
    color: #ccc;
    text-align: center; /* 左揃え */
    margin: 15px;
}

.profile-list {
    list-style: none;
    padding: 0;
    font-size: 18px;
    line-height: 1.8;
    font-weight: 200;
    color: #ccc;
    text-align: left; /* 左揃え */
    margin: 15px;
}

.profile-list-sns {
    list-style: none;
    padding: 0;
    font-size: 18px;
    line-height: 1.8;
    font-weight: 200;
    color: #ccc;
    text-align: center;
    margin: 15px;
}

.profile-list li {
    margin: 10px 0;
    transition: color 0.3s ease;
}

profile-list-sns li {
    margin: 10px 0;
    transition: color 0.3s ease;
}

.profile-list li:hover {
    color: #fff;
}

/* Mobile styles */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding-left: 10px;
    }

    nav ul li {
        margin: 10px 0;
    }

    .split {
        width: 100%;
        height: 50vh; /* Each section takes half the screen height */
        position: relative;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: #fff; /* Always visible on mobile */
        background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    }

    .text {
        font-size: 24px;
    }

    main {
        flex-direction: column; /* Stack sections vertically */
        height: auto; /* Allow scrolling */
    }

    header {
        padding: 10px;
    }

    .x-icon {
        top: 10px;
        right: 10px;
        transform: none;
    }
}