@charset "utf-8";

/*============================================
テーブル
============================================*/
table.profile {
	width:740px;				/*テーブル全体の幅*/
    /*border-collapse:collapse;		セル同士の間に隙間を空けない*/
}
table.profile th {
	width:150px;				/*見出しセルの幅*/
	padding:10px;				/*パディング*/
	text-align:center;				/*センター揃えにする*/
	white-space:nowrap;				/*セル内の改行を禁止する*/
	background-color:#444444;			/*セルの背景色*/
	/*border-bottom:dotted #cccccc 1px;		セルのボーダー*/
}
table.profile td {
	padding:10px;				/*パディング*/
	background-color:#444444;			/*セルの背景色*/
	/*border-bottom:dotted #cccccc 1px;		セルのボーダー*/
}